ul {
  list-style: none;
  padding: 0;
}

a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  width: calc(100% - 40px);

  &:hover {
    text-decoration: underline;
    background: hsl(0, 0%, 20%);
  }
}
